{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Rejoins nous et toi aussi organise des sorties!</h1>
    {{ form_start(registrationForm) }}
    {{ form_end(registrationForm) }}
{% endblock %}
