{% extends 'base.html.twig' %}

{% block title %}Touch Grass{% endblock %}


  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('Css/table.css') }}">
  {% endblock %}

{% block body %}
    <div id="info">
        <h2>Date du Jour : {{ "now" | date("m/d/Y") }}</h2>
        <h2>
            {% if app.user %}
                Participant : {{ app.user.pseudo }}
            {% else %}
                Pensez à vous connecter pour participer
            {% endif %}
        </h2>
    </div>
    <div id="filtre">
        <p>Filtrer les Sorties</p>
        <div style="display: flex;justify-content: space-around;">
            <div>
                {{ form(filtreForm) }}
            </div>
            <div>
                <div><input type="checkbox" id="chkOrag" name="chkOrag">
                    <label for="chkOrag">Sortie dont je suis l'organisateur/trice</label></div>
                <div><input type="checkbox" id="chkInscrit" name="chkInscrit">
                    <label for="chkInscrit">Sortie auxquelles je suis inscrit/e</label></div>
                <div><input type="checkbox" id="chkNoInscrit" name="chkNoInscrit">
                    <label for="chkNoInscrit">Sortie auxquelles je ne suis pas inscrit/e</label></div>
                <div><input type="checkbox" id="chkPasse" name="chkPasse">
                    <label for="chkPasse">Sortie passée</label></div>


{% endblock %}
