body {
    background-image: url("../img/404.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.error {
    display: flex;
    justify-content: center;
    margin: 0 15%;
    padding: 10px 0;
    box-shadow: 14px 14px 20px #9c9ea1, -14px -14px 20px #838080;
    border-collapse: inherit;
    border-radius: 10px;
    background: rgb(63 79 90);
}

.fox {
    color: #CA4E33;
}