body {
    background-image: url("/img/nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#titre {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#img-titre {
    width: 10%;
    transition: transform .1s ease-in-out;
}

#img-titre:hover {
    content: url("/img/fleur.png");
    transform: rotate(360deg);
    transition: transform .1s ease-in-out;
}


#article_form {
    background: #ecf0f3;
    opacity: 0.9;
    margin-top: 10%;
    padding: 15px;
    border-radius: 20px;
    box-shadow:
            14px 14px 20px #cbced1;
    box-sizing: border-box;
    width: 25%;
    height: 100%;
}


@media screen and (max-width: 1400px) {

    #article_form {
        background: #ecf0f3;
        opacity: 0.9;
        margin-top: 15%;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 14px 14px 20px #cbced1;
        box-sizing: border-box;
        width: 50%;
        height: 100%;
    }
}


@media screen and (max-width: 1200px) {

    #article_form {
        background: #ecf0f3;
        opacity: 0.9;
        margin-top: 20%;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 14px 14px 20px #cbced1;
        box-sizing: border-box;
        width: 50%;
        height: 100%;
    }

}


@media screen and (max-width: 800px) {

    #article_form {
        background: #ecf0f3;
        opacity: 0.9;
        margin-top: 35%;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 14px 14px 20px #cbced1;
        box-sizing: border-box;
        width: 75%;
        height: 100%;
    }
}

@media screen and (max-width: 500px) {

    #article_form {
        background: #ecf0f3;
        opacity: 0.9;
        margin-top: 45%;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 14px 14px 20px #cbced1;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
}

#button-annuler {
    border: 1px solid;
}


.alert-validation {
    color: darkred;
    text-align: center;
}