body {
    margin: initial;

}


#base_section {
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
}

footer {
    border-top: 1px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
    padding: 1rem 1rem 1rem;
}

#navbar-end {
    align-items: stretch;
    display: flex;
}

#hero-body {
    padding: 1rem 2rem;
}

#title {
     font-size: 1rem;
     font-weight: 600;
     line-height: 1.125;
 }

#p_user {
    font-size: 0.9em;
    display: flex;
}