#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


#form-article {
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

#div-error {
    text-align: center;
}

#form {
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 14px 14px 20px #cbced1;
    box-sizing: border-box;
    background: #ecf0f3;
    width: 35%;
    height: 75%;
    display: flex;
    justify-content: center;

}

#form-chil {
    width: 75%;
}

#button-div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 15px;
}

#button-connexion {
    width: 40%;
    margin: 15px;
}

#button-div-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


@media (max-aspect-ratio: 16/9) {
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

}

@media (min-aspect-ratio: 16/9) {
    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
    }

}

@media screen and (max-width: 1700px) {
    #myVideo {
        display: none;
    }

    body {
        background-image: url("/img/videoFixed.png");
        background-size: cover;
        background-repeat: no-repeat;

    }

}

@media screen and (max-width: 1400px) {

    body {
        background-image: url("/img/videoFixed.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #form {
        margin-top: 10%;
        padding: 1.5rem;
        border-radius: 20px;
        box-shadow: 14px 14px 20px #cbced1;
        box-sizing: border-box;
        background: #ecf0f3;
        width: 65%;
        height: 75%;
        display: flex;
        justify-content: center;

    }

}

@media screen and (max-width: 800px) {

    body {
        background-image: url("/img/videoFixed.png");
        background-size: cover;

    }

    #form {
        margin-top: 25%;
        padding: 1.5rem;
        border-radius: 20px;
        box-shadow: 14px 14px 20px #cbced1;
        box-sizing: border-box;
        background: #ecf0f3;
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: center;

    }
}





