h1 {
    text-align: center;
}

#article_un {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#article_deux {
    display: inline-block;
}

#info_div_1 {
    margin: 30px;
}

#info_div_2 {
    margin: 30px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    display: inline-block;
    width: 150%;
    text-align: justify;

    overflow: auto;
}
th[scope='col']{
    padding-right: 20px;
}

th[scope='col-1']{
    width: 100%;
}
td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}
td {
    width: 100%;
}

#thead {
    background-color: #696969;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #eee;
}
caption {
    padding: 5px;
    caption-side: top;
}

tbody {
    display: inline-block;
    width: 100%;
    overflow: auto;
}

