h1 {
    text-align: center;
}
#sectionDetail{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    box-sizing: border-box;
    background: #ecf0f3;
    padding: 15px;
}

#sectionForm {
    border-radius: 20px;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    box-sizing: border-box;
    background: #ecf0f3;
    padding: 15px;
}

#article_un {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#article_deux {
    display:inherit;
}

#info_div_1 {
    margin: 30px;
}

#info_div_2 {
    margin: 30px;
}

#Form_div{
    display: flex;
    justify-content: center;
}

#Form_first_part{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 30px;

}

#Form_second_part {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 30px;
}


#div_button{
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: space-around;
}

button {
    padding: 15px;
    margin: 15px;
}

#ancre {
    display: flex;
    justify-content: center;
}


table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 1.5rem;
}

.p_info {
    padding: 5px;
}


#span-lieux {
    display: flex;
    flex-direction: row;
}
