{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
    <h1>Modifier son profil</h1>

    {{ form_start(registrationForm) }}

    {{ form_end(registrationForm) }}

{% endblock %}

