{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
    <h1>Modifier son profil</h1>

    {{ form_start(registrationForm) }}

    <button><a href="{{ path('profil_afficher') }}">back to list</a></button>

    {{ form_end(registrationForm) }}

{% endblock %}

