{% extends 'base.html.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('Css/addLieu.css') }}">
  {% endblock %}


{% block title %}Création de Lieu{% endblock %}

{% block body %}

    <article>
        <div>
            {{ form_start(formLieu) }}




            {{ form_end(formLieu) }}
            <a class="button is-light"  href="{{ path('sortie_addSortie') }}" >Annuler</a>


        </div>


    </article>

{% endblock %}