{% extends 'base.html.twig' %}

  {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('Css/addSortie.css') }}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  {% endblock %}
{% block title %}Sortie{% endblock %}

{% block body %}

    <div class="container is-max-desktop">
        <div class="notification is-primary" style="text-align: center ">
           Est ce qu'il serait pas tant de toucher de l'herbe un peu ?
            Arreter de jouer à LoL et va te baigner dans mère nature
        </div>
    </div>



{% endblock %}
