{% block body %}

    <h1>Bien tenté fréro, mais t'es pas l'oganisateur de cette sortie</h1>

    <img src="https://www.meme-arsenal.com/memes/1852c9967b5ca2eb0346d4932c950585.jpg" alt="">

    <h1>Aller retourne au menu</h1>

    <a href="{{ path('main_index') }}">Par là du coup</a>
{% endblock %}