<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game</title>
    <link rel="stylesheet" href="{{ asset('Css/bored.css') }}">
</head>
<body>

<header>
    <h1>Floppy Bird</h1>
    <div class="score-container">
        <div id="bestScore"></div>
        <div id="currentScore"></div>
    </div>
</header>

<canvas id="canvas" width="431" height="768"></canvas>

<script src="{{ asset('Js/bored.js') }}"></script>
</body>
</html>
