{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Css/404.css') }}">
{% endblock %}
{% block body %}
    <div class="error">
    <h1 class="title is-1 fox">Désolé c'est qu'un petit Renard nommé 404</h1>
    </div>
{% endblock %}