{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Css/error.css') }}">
{% endblock %}
{% block body %}
    <div class="error">
        <h1 class="title is-1 bear">Il serait peut-être temps de prendre l'air?</h1>
    </div>
{% endblock %}