{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Css/500.css') }}">
{% endblock %}
{% block body %}
    <div class="error">
        <h1 class="title is-1 dear">Désolé c'est qu'un beau Cerf nommé 500</h1>
    </div>
{% endblock %}